html {
    overflow: scroll;
    overflow-x: hidden;
}

body {
    background: url("../content/img/Ferry-bgnb.png");
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, sans-serif;
    font-size: 6px;
    font-weight: bold;
    color: white;
    width: 100%;
    height: 100vh;
    min-width: 310px;
}

/* Limits from Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 567px) {
    body {
        font-size: 10px;
        background-repeat: no-repeat;
    }
    .autocomplete-items p {
        font-size: 15px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        font-size: 12px;
    }
    #loginInfo{
    font-size: 20px;
    }
    #favoritesTableBody {
        font-size: 15px;
    }

    #favoritesTableHead {
        font-size: 25px;
    }
    .routeCell p {
        display: inline-block;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        font-size: 16px;
    }
    #searchField {
        max-width: 70%;
    }
    .routeCell p {
        display: inline-block;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}