body {
    background:url("../res/img/Metro-bgnb.png");
    background-repeat:no-repeat;
    background-size: 100%;
    font-family: sans-serif;
    min-height: 100%;
}

.center-block {
    margin: auto;
    display: block;
}

#searchField {
    height: 1.5em;
    width: 20em;
    border-radius: 1em;
    font-size: 1.5em;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    color: white;
}

#SubmitBtn {
    height: 2.5em;
    width: 6em;
    border-color: white;
    border-radius: 1em;
    color: white;
    font-weight: bolder;
    background-color: transparent;
    border: solid;
}

.topnav {
    background-color: transparent;
    border: white;
    float: right;
    position: relative;
    display: inline-block;
}

.credentials {
    border: solid;
    height: 3em;
    width: 8em;
    border-color: white;
    border-radius: 1em;
    color: white;
    font-weight: bolder;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;margin-top: 0.5em;
}

.topnav p {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding:  0.6em;
    text-decoration: none;
    font-size: 1.0em;
    font-weight: bold;
}

.topnav p:hover {
    background-color: transparent;
    border-style: solid;
    border-color: white;
}

.topnav p.active {
    background-color: transparent;
}

#login {
    float: right;
}

.favDiv {
    background-color: transparent;
    border: white;
    position: fixed;
    left: 50%;
    bottom: 0.1em;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.favDiv p {
    color: #f2f2f2;
    text-align: center;
    padding: 0.4em 0.6em;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
}

.favDiv p:hover {
    background-color: transparent;
    border-style: solid;
    border-color: white;
}

.dropdownContent {
    display: none;
    position: absolute;
    overflow: auto;
    box-shadow: 0px 0.8em 1.6em 0em rgba(0,0,0,0.2);
    z-index: 1;
    float: right;
    right: 0;
    background-image: url("../res/img/Metro-bgnb.png");
    min-width: 16em;
}

fieldset {
    border: solid;
    border-color: white;
    border-radius: 1em;
}

#username {
    border-radius: 2em;
    text-align: center;
    font-weight: bold;
    height: 2em;
    width: 16em;
    display: inline-block;
}

#queryDiv {
    padding-top: 100px;
}

.show {
    display:block;
}
