body {
    background:url("../res/img/Ferry-bgnb.png");
    background-repeat:no-repeat;
    background-size: 100%;
    font-family: sans-serif;
    min-height: 100%;
}

fieldset {
    border: solid;
    border-color: white;
    border-radius: 1em;
}


#searchField {
    height: 1.7em;
    width: 20em;
    border-radius: 1em;
    font-size: 1.5em;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}

#queryDiv h2 {
    font-weight: bold;
    color: white;
    text-align: center;
}

#SubmitBtn {
    height: 2.5em;
    width: 6em;
    border-radius: 1em;
    color: white;
    font-weight: bolder;
    background-color: transparent;
    border: solid white;
    cursor: pointer;
}

#topnav {
    margin-top: 1em;
    background-color: transparent;
    border: white;
    float: right;
    display: inline-block;
}

.credentials {
    border: solid;
    min-height: 2.5em;
    width: 7.8em;
    border-color: white;
    border-radius: 1em;
    color: white;
    font-weight: bolder;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#topnav p {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding:  0.6em;
    text-decoration: none;
    font-size: 1.0em;
    font-weight: bold;
}

#topnav p:hover {
    background-color: transparent;
    border-style: solid;
    border-color: white;
}

#topnav p.active {
    background-color: white;
    color: gray;
}

#login {
    float: right;
}

.favDiv {
    background-color: transparent;
    border: white;
    position: fixed;
    left: 50%;
    bottom: 0.1em;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.favDiv p {
    color: #f2f2f2;
    text-align: center;
    padding: 0.4em 0.6em;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
}

.favDiv p:hover {
    background-color: transparent;
    border-style: solid;
    border-color: white;
}

#dropDownMenu {
    display: none;
    position: absolute;
    overflow: auto;
    box-shadow: 0px 0.8em 1.6em 0em rgba(0,0,0,0.2);
    z-index: 1;
    float: right;
    right: 0;
    background-image: url("../res/img/Metro-bgnb.png");
    min-width: 16em;
    border-radius: 0.4em;
}


#username {
    border-radius: 2em;
    text-align: center;
    font-weight: bold;
    height: 2em;
    width: 16em;
    display: inline-block;
    padding-top: 0.5em;
}

#queryDiv {
    padding-top: 10em;
}

.show {
    display:block;
}

input[type="submit"]:active {
    color: gray;
}

input[type="submit"]:hover {
    color: gray;
}

#SubmitBtn {
    margin: auto;
    display: block;
    text-align: center;
}

* { box-sizing: border-box; }
body {
    font: 16px Arial;
}
#autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    margin-left: auto;
    width: 32em;
}
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

.autocomplete-items {
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    width: 30em;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: auto;
    right: auto;
}

.autocomplete-items div {
    padding: 1em;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: black !important;
    color: #ffffff;
}

#btnDiv {
    margin-top: 1em;
}

#SubmitBtn:active {
    color: gray;
    background-color: white;
}

#SubmitBtn:hover {
    color: gray;
}