.errorDiv {
    color: red;
}

.loginForm {
    display: none;
}

.logoutForm {
    display: none;
}


.loginInfo {
    cursor: pointer;

}

input[type=text] {
    border-radius: 1em;
    border-color: transparent;
}

input[type="button"] {
    background-color: transparent;
    color: white;
    border-radius: 1em;
    border: solid white;
    font-weight: bold;
}

input[type="button"]:active {
    background-color: white;
    color: black;
}

input[type="button"]:hover  {
    color: gray;
}

.autocomplete-items {
    color: black;
    z-index: 99;
}

#searchFieldLabel {
    font-size: 2.5em;
}

.autocomplete-items div {
    max-width: 30em;
    padding: 1em;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/* when navigating through the items using the arrow keys. */
.autocomplete-active {
    background-color: black !important;
    color: #ffffff;
}

#searchField {
    margin-right: auto;
    margin-left: auto;
}

#searchField p {
    font-weight: bolder;
    color: black;
}

#favText {
    text-align: center;
}

th {
    text-align: center;
}


.routeCell p {
    display: none;
}

#loginInfo {
    font-size: 1em;
}

#favoritesTableBody {
    font-size: 1em;
}

#favoritesTableHead {
    font-size: 2em;
}
.deleteFav {
    text-align: right;
}


