input[type=text] {
    border-radius: 1em;
    border-color: transparent;
}

input[type="submit"] {
    background-color: transparent;
    color: white;
    border-radius: 1em;
    border: solid white;
}

input[type="submit"]:active {
    background-color: white;
    color: black;
}

input[type="submit"]:hover  {
    color: gray;
}