.loginForm {
    display: none;
}

.logoutForm {
    display: none;
}

input[type=text] {
    border-radius: 1em;
    border-color: transparent;
}

input[type="button"] {
    background-color: transparent;
    color: white;
    border-radius: 1em;
    border: solid white;
}

input[type="button"]:active {
    background-color: white;
    color: black;
}

input[type="button"]:hover  {
    color: gray;
}

.autocomplete-items {
    color: black;
    z-index: 99;
    width: 30em;
}

.autocomplete-items div {
    padding: 1em;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/* when navigating through the items using the arrow keys. */
.autocomplete-active {
    background-color: black !important;
    color: #ffffff;
}