i {
    color: white;
}

#topDiv {
    font-size: 2em;
}

thead {
    font-size: 1.5em;
}

#stopDiv {
    text-align: center;
}

#timeDiv {
    text-align: right;
    align-content: center;
}

#dateDiv {
    margin-left: 1em;
}


#routeHeader {
    text-align: center;
}

#timeHeader {
    text-align: right;
}

#lineHeader {
    text-align: left;
}

tr {
    border-bottom: 3px solid white;
}

.lineCell {
    font-size: 5em;
}

.imgCell img {
    max-width: 5em;
    padding-top: 1em;
}

.routeCell {
    text-align: center;
}

.routeCell p {
    color: lightgray;
    font-size: 1.25em;
    line-height: 1em;
}

.routeCell h3 {
    margin-top: 0.5em;
    font-size: 2em;
    font-weight: bold;
}

.timeCell {
    font-size: 5em;
    text-align: right;
}

#leftDiv {
    display: inline-flex;
    margin: auto;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

