body {
    background:url("../res/img/Ferry-bgnb.png");
    background-repeat:no-repeat;
    background-size: 100%;
    font-family: sans-serif;
    min-height: 100%;
    color: white;
}

table {
    color: white;
    width: 100%;
}


tr {
    border-bottom: 3px solid white;
}

.lineCell {
    font-size: 3em;
    font-weight: bolder;
    padding-right: 0.5em;
    margin: 1em;
    width: 1em;
}

.routeCell h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.1em;
}

.routeCell p {
    color: lightgray;
    font-size: 1em;
}

.routeCell {
    line-height: 0.1em;
    max-width: 20em;
    text-align: center;
    max-height: 1em;

}

.timeCell {
    font-size: 3em;
    font-weight: bolder;
}



.imgCell img {
    max-width: 3em;
    float: left;
}
.DestinationHeader {
    margin-right: auto;
    margin-left: auto;
}



#topDiv {
    width: 52%;
    margin: auto;
    border: 1.5px solid white;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    display: flex;
    position: center;
}

#stopDiv {
    margin-right: auto;
    margin-left: auto;
}



.headerDiv {
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 4px solid white;
    display: flex;
    width: 70%;
    position: center;
}

.tableDiv {
    margin: auto;
    width: 70%;
}

#lineDiv {
    float: left;
    margin: 3em;
}

#routeDiv {
    margin-left: auto;
    margin-right: auto;
}

#timeDiv {
    float: right;
    max-width: 100%;

}

#parentDiv {
    width: 75%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}
