#topDiv {
    font-size: 1.5em;
}

tr {
    border-bottom: 3px solid white;
}

.lineCell {
    font-size: 3em;
    font-weight: bolder;
}

.imgCell img {
    max-width: 3em;
}

.routeCell {
    line-height: 0.1em;
    text-align: center;
}

.routeCell p {
    color: lightgray;
}

.routeCell h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.timeCell {
    font-size: 3em;
    font-weight: bolder;
    text-align: right;
}