
<!-- The view when opening the web page. -->
<div>
<!-- Setup for the login button and pop-up menu -->
<div class="container-fluid" id="topnav">
    <p id="login" class="login" onclick="displayLogin()">LUO KÄYTTÄJÄ | KIRJAUDU</p>
    <div id="dropDownMenu" class="container-fluid">

        <!-- Login form. -->
        <form novalidate>
            <fieldset id="loginSet" onclick="getS">
                <input id="username" type="text" name="username" placeholder="Anna nimi" required></br>
                <input type="submit" class="credentials" id="createBtn" value="Luo käyttäjä" onclick="createUser()">
                <input type="submit" class="credentials" id="loginBtn" value="Kirjaudu" onclick="userlogin()">
            </fieldset>
        </form>
    </div>
</div>

<!-- The search elements in the center of the page. -->

<div id="queryDiv" class="container-fluid">
    <form action="" >
        <h2>Etsi pysäkkiä nimellä:</h2>
        <div class="container-fluid" id="autocomplete">
            <textarea class="center-block" type="text" name="searchField" id="searchField" placeholder="Syötä pysäkin nimi..." onkeyup=getDataForStop(document.getElementById('searchField').value)></textarea>
        </div>

    </form>

</div>
<div class="container-fluid" id="btnDiv">
    <button id="SubmitBtn" onclick="window.location.href='http://localhost:63342/HSL-aikataulut/client/timetable.html'" onmouseover="cleanAndSaveName(document.getElementById('searchField').value)">Hae</button>
</div>
<div class="container-floating" id="favDiv" onclick="showFavTable()" >
    <!-- The list of favourite stops for logged in users. Will appear on click. -->
    <p id="favText" >SUOSIKKIPYSÄKIT</p>
    <div class="favTable" id="favTable">
    <h4>Pysäkin nimi</h4>
    <table id="resultTable">
        <tbody>
        <tr>
            <td>Et ole kirjautuneena sisään. Kirjaudu sisään tai luo käyttäjä käyttääksesi suosikkipysäkit - toimintoa.
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</div>
