<!-- The search page view. -->

    <!-- The Login form -->
    <div class="row">
        <div class="col-sm-7"></div>
        <div class="col-sm-4 mt-3 text-center" >
            <p id="login" class="" onclick="displayLogin()">LUO KÄYTTÄJÄ | KIRJAUDU</p>
            <div id="loginForm">
                <!-- Login form. -->
                <form novalidate>
                    <div class="form-group">
                        <input class="form-control" id="username" type="text" name="username" placeholder="Anna nimi" required>
                    </div>
                    <div class="form-group">
                        <input class="btn" type="button" id="createBtn" value="Luo käyttäjä" onclick="createUser()">
                        <input class="btn" type="button" id="loginBtn" value="Kirjaudu" onclick="userlogin()">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- The Search form -->
    <div class="row">
        <div class="col-sm-7 mx-auto mt-5 text-center" >
            <form>
                <div class="form-group">
                    <label class="" for="searchField">Etsi pysäkkiä nimellä:</label>
                    <input class="form-control form-control-lg" type="text" name="searchField" id="searchField" placeholder="Syötä pysäkin nimi..." onkeyup=getDataForStop()>
                </div>
                <input class="btn" type="button" onclick="searchSchedule()" value="Hae">
            </form>
        </div>
    </div>

    <!-- The Favorites -->
    <div class="row" id="favDiv" onclick="showFavTable()" >
        <div class="col-sm-5 mx-auto mt-5">
            <!-- The list of favourite stops for logged in users. Will appear on click. -->
            <h3 id="favText" >SUOSIKKIPYSÄKIT</h3>
            <h4>Pysäkin nimi</h4>
            <table class="table" id="resultTable">
                <tbody>
                    <tr>
                        <td scope="row">Et ole kirjautuneena sisään. Kirjaudu sisään tai luo käyttäjä käyttääksesi suosikkipysäkit - toimintoa.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


