<!-- The timetable page view. -->

<div>

    <!-- Top info bar. -->
    <div class="row " id="topDiv">
        <a class="col-1 fa-2x" href="javascript:backLink();"><i class='far fa-arrow-alt-circle-left'></i></a>
        <div class="col" id="dateDiv"></div>
        <div class="col" id="stopDiv"></div>
        <div class="col" id="timeDiv"></div>
        <a id="favIcon" class="col-1 fa-2x" href="javascript:hideIconAddFav();"><i class='fas fa-star'></i></a>
    </div>
    <div id="parentDiv">
        <div class="table-responsive" id="tableDiv">
            <table class="table" id="mainTable">

                <!-- Main table header -->
                <thead>
                    <tr>
                        <th scope="col" colspan="2" id="lineHeader">Linja</th>
                        <th scope="col" id="routeHeader">Määränpää / reitti</th>
                        <th scope="col" id="timeHeader">Aika / Min</th>
                    </tr>
                </thead>
                <!-- Table body -->
                <tbody id="tableBody">
                        <tr id="tableRow0">
                            <td class="lineCell" id="lineCell0"></td>
                            <td class="imgCell" id="imgCell0"><img id="typeImage0" src="#"></td>
                            <td class="routeCell" id="routeCell0"></td>
                            <td class="timeCell" id="timeCell0"></td>
                        </tr>
                        <tr id="tableRow1">
                            <td class="lineCell" id="lineCell1"></td>
                            <td class="imgCell" id="imgCell1"><img id="typeImage1" src="#"></td>
                            <td class="routeCell" id="routeCell1"></td>
                            <td class="timeCell" id="timeCell1"></td>
                        </tr>
                        <tr id="tableRow2">
                            <td class="lineCell" id="lineCell2"></td>
                            <td class="imgCell" id="imgCell2"><img id="typeImage2" src="#"></td>
                            <td class="routeCell" id="routeCell2"></td>
                            <td class="timeCell" id="timeCell2"></td>
                        </tr>
                        <tr id="tableRow3">
                            <td class="lineCell" id="lineCell3"></td>
                            <td class="imgCell" id="imgCell3"><img id="typeImage3" src="#"></td>
                            <td class="routeCell" id="routeCell3"></td>
                            <td class="timeCell" id="timeCell3"></td>
                        </tr>
                        <tr id="tableRow4">
                            <td class="lineCell" id="lineCell4"></td>
                            <td class="imgCell" id="imgCell4"><img id="typeImage4" src="#"></td>
                            <td class="routeCell" id="routeCell4"></td>
                            <td class="timeCell" id="timeCell4"></td>
                        </tr>
                        <tr id="tableRow5">
                            <td class="lineCell" id="lineCell5"></td>
                            <td class="imgCell" id="imgCell5"><img id="typeImage5" src="#"></td>
                            <td class="routeCell" id="routeCell5"></td>
                            <td class="timeCell" id="timeCell5"></td>
                        </tr>
                        <tr id="tableRow6">
                            <td class="lineCell" id="lineCell6"></td>
                            <td class="imgCell" id="imgCell6"><img id="typeImage6" src="#"></td>
                            <td class="routeCell" id="routeCell6"></td>
                            <td class="timeCell" id="timeCell6"></td>
                        </tr>
                        <tr id="tableRow7">
                            <td class="lineCell" id="lineCell7"></td>
                            <td class="imgCell" id="imgCell7"><img id="typeImage7" src="#"></td>
                            <td class="routeCell" id="routeCell7"></td>
                            <td class="timeCell" id="timeCell7"></td>
                        </tr>
                        <tr id="tableRow8">
                            <td class="lineCell" id="lineCell8"></td>
                            <td class="imgCell" id="imgCell8"><img id="typeImage8" src="#"></td>
                            <td class="routeCell" id="routeCell8"></td>
                            <td class="timeCell" id="timeCell8"></td>
                        </tr>
                        <tr id="tableRow9">
                            <td class="lineCell" id="lineCell9"></td>
                            <td class="imgCell" id="imgCell9"><img id="typeImage9" src="#"></td>
                            <td class="routeCell" id="routeCell9"></td>
                            <td class="timeCell" id="timeCell9"></td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>